<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatibl/static/e" content="ie=edge">
{#    <title>静态文件使用</title>#}
{#    {% load staticfiles %}#}
</head>
<body>
<h3>静态文件使用</h3>
使用硬编码方式：<br>
<img src="/static/images/mm.jpg" alt="靓女"><br>

{#动态引用使用方式：<br>#}
{#<img src="{% static 'images/mm.jpg' %}">#}

</body>
</html>